@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1565616843344'); /* IE9 */
  src: url('iconfont.eot?t=1565616843344#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABoQAAAKWAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBDIEXATYCJAMICwYABCAFhG0HMRu+Bcg+QDZkQ/FFBMzG0Lphl3eWXIam8UHBD4ggfr//zZ6zXzWpJrHkWTTRxEuASIJOKDRC1JJeBy/hXq3pBkFF7/iwjKICKbSPe5fL8/6WxteIGhWlagGF69HNX6NsW6TRA4ZxYp92pGE4dOPuCZ6hQA0ShlnvjfOXeVpgkBc7H2eaX88HD1kpgWCieGlVddUAf4D/fOLe8R8BBTLfeeWy5qJFk7oA40AKcC+MtnChBN4wdsELPE+g25ShwtnRxTXUJXtaIF4Z7UC9EJWSFTqF9oa1Kd5r01nelhPvou/Hf5uhKNoqu+ryyaEPy1+fnAnVN3lQ93o5N9gmKjaAJG4bs+dKgjFLugXL5oCUiV/75sAujmoR7K+zS3vBBJQ+k8yTPyp/AUl/loGDSW+k9nYN+/bL+/v7Z9cPcO3cjX6quxEMH+N4mRThA67eG1ttBeUv/xk+fXVmIqj+4M/QbJc49kqatD8o5LkJt5cSfu/tHQE0JapvBIKHrXtn9Vz1JGg9wEfyYX469+8L/pNsYFsaCttWUpM1FotlpfPXdOtGAw4O+5tqHLupYug0dmv+DpMZqk4LRDI20KbHNtp1OkS3dcebe4xgJZFdWPMMEAbtUfT7jGrQK5GMX7QZ9492g0HR7T7Ys8dSNM2YHCEf3Sc0XhIr1yHNuPyS9F3ocF4RsW6Jc5PA2XhaLhxTTLzEgvxez0UUKk4iPAKXURgmmHKyI0/GW5F0MZmophuNvSSCplOMOATxIdcTZHgSMRV0F83K5y8R7U7IwR0tdeFbhOXM4GhmbDqAONbGg1oe5ZrcPW1OCAUpLBFBR2AUCYUSKG0etUM8Ymw7IZ1amDid1FDteHt99Hd7oJttKuEMrTpemFhrJwEAAAA=') format('woff2'),
  url('iconfont.woff?t=1565616843344') format('woff'),
  url('iconfont.ttf?t=1565616843344') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1565616843344#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinggao:before {
  content: "\e6af";
  color: #f00;
}

