body{margin: 0;padding:0;}
a{
    text-decoration: none;
}
.mg_center{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.el-breadcrumb{
    font-size: 14px;
    line-height: 1;
}
.el-breadcrumb::after, .el-breadcrumb::before{
    display: table;
    content: "";
}
.el-breadcrumb__item{
    float: left;
}
.el-breadcrumb__inner{
    color:#606266;
}
.el-breadcrumb__inner.sy a{
    color: #bdc3c7;
}
.iconfont.icon-xiangyoujiantou{
    margin-left: 15px;
    font-size: 12px !important;
    color: #bdc3c7;
}
.el-breadcrumb__item{
    float: left;
}

.el-breadcrumb__inner>a{
    margin-left: 15px;
    font-weight: 400;
    color: #606266;
    cursor: text;
}
.el-breadcrumb::after{
    clear: both;
}
.el-container {
    margin-top: 20px;
}
.el-aside{
    width: 20%;
    /* 170px; */
    overflow: hidden;
    font-weight: 300;
    outline: none;
    background-color: #ededed;
}
.menu_web .el-menu{
    border: 0;
}
.el-menu{
    border-right: solid 1px #e6e6e6;
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 0;
}
.menu_web .el-menu-item.is-active{
    background-color: #FF4081;
}

.menu_web .el-menu-item.is-active>a,.menu_web .el-menu-item.is-active .iconfont{
    color:#fff;
}
.el-menu-item {
    font-size: 14px;
    color: #303133;
    padding: 0 20px;
    cursor: pointer;
    -webkit-transition: border-color .3s,background-color .3s,color .3s;
    transition: border-color .3s,background-color .3s,color .3s;
    box-sizing: border-box;
}
/* .title{
    vertical-align: middle;
} */
.el-menu-item, .el-submenu__title {
    height: 56px;
    line-height: 56px;
    position: relative;
    -webkit-box-sizing: border-box;
    white-space: nowrap;
    list-style: none;
}
.el-menu-item > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align:middle;
    color:#333;
}
ul.el-menu>li{
    padding-left: 20px;
    color: rgb(44, 62, 80) !important;
}
.iconfont{
    font-size: 20px !important;
    color: #000;
}